<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Hummingbird_Mod9::custom_menu" title="Custom Menu" module="Hummingbird_Mod9" resource="Mod9_Tab::tab_config" sortOrder="90"/>
        <add id="Hummingbird_Mod9::custom_config" title="Configuration" translate="title" module="Hummingbird_Mod9" parent="Hummingbird_Mod9::custom_menu"
             resource="Mod9_Tab::tab_config_link" sortOrder="10" dependsOnModule="Hummingbird_Mod9" action="admin/system_config/edit/section/mod9_tab"/>
    </menu>
</config>